<!-- Template driven approach means you should prioritize making changes and decisions in the template -->
<!-- For the template approach, must set reference name to ngForm -->
<!-- <form (ngSubmit)="onSubmit(f)" #f="ngForm"> -->
<form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group">
        <label for="username">Username</label>
        <!-- Adding the directive ngModel (without property or two way binding) allows angular to 
        create an object based off the input field; In turn, the ngModel that's created can then
        be accessed. -->
        <!-- The angular description of NgModel on a form element is:
            Creates a FormControl instance from a domain model and binds it to a form control element. -->
        <input
            type="text"
            id="username"
            class="form-control"
            ngModel
            name="username"
            required
        >
    </div>
    <div class="form-group">
        <label for="email">Mail</label>
        <input
            type="email"
            id="email"
            class="form-control"
            ngModel
            name="email"
            required
            email
            #email="ngModel"
        >
        <span
            class="help-block"
            *ngIf="!email.valid && email.touched"
        >
            Please enter a valid email!"
        </span>
    </div>
    <!-- Property binding (1 -way) example -->
    <select
        name="secret"
        id="secret"
        class="form-control"
        [ngModel]="defaultQuestion"
        name="secret"
    >
        <option value="pet">Your first Pet?</option>
        <option value="teacher">Your first teacher?</option>
    </select>
    <div class="form-group">
        <textarea
            name="questionAnswer"
            rows="3"
            [(ngModel)]="answer"
        ></textarea>
    </div>
    <!-- Example of two way binding to the answer (which also get's submitted when clicking submit button) -->
    <p>Your reply: {{ answer }}</p>
    <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!f.valid"
    >Submit</button>
</form>