<div>
    <input type="text" [(ngModel)]="username">
    <br>
    {{ username }}
    <br>
    <button
        [innerText]="'Button Text'"
        [disabled]="!username"
        (click)="resetUsername()">
    </button>

    <button
        [innerText]="'Display Details'"
        (click)="toggleParagraphDisplapy()"
    ></button>
    <p *ngIf="paragraphDisplay">Secret Password = tuna</p>
    <p 
        *ngFor="let buttonClick of displayButtonClicks"
        [ngStyle]="{
                backgroundColor: getClicksBackgroundColor(buttonClick),
                color: buttonClick > 4 ? 'white' : ''
            }">{{ buttonClick }}</p>
    <!-- Local references can be placed on any html element. Ex <p #serverName></p>. This allows access to
        the whole html element and all it's properties. References can be used anywhere in the html template
        even as arguments to methods, but you cannot use the reference directly in the typescript code; You can
        pass the referenced element as an argument from a method to the typescript code as a parameter. The
        downside is that the values are passed in by value, not by reference (which means you cannot modify just by
        passing in the element to a method and then modifying the element.)) -->
    <div class="row">
        <input #testLocalElement type="text">
        <button (click)="updateLocalReferenceValue(testLocalElement, testLocalElement.value)">Update Textbox below</button>
        <div [innerText]="localReferenceValue"></div>
        <input #viewChildExample type="text">
        <button (click)="resetViewChildExample()">Reset resetViewChildExample</button>
    </div>
    <div class="row">
        <!-- Using <ngContent></ngContent> is a directive that allows adding content from the parent component
            into this component. For example, if I have <comp1><comp2><p>here</p></comp2></comp1> where 
            comp2 looks like <ngContent></ngContent> then what will happen is that the <p>here</p> will show up
            in place of ngContent of comp2. I dont' like this. This is a way of projecting content. This is good, though
            for custom styling of html code buttons (for example tabs) -->
    </div>

    <ng-content></ng-content>

    <!-- attribute vs structural diretives:
        What is a directive?
        In Angular, Directives are defined as classes that can add new behavior to the elements in the template or modify
        existing behavior. The purpose of Directives in Angular is to maneuver the DOM, be it by adding new elements to
        DOM or removing elements and even changing the appearance of the DOM elements.

        Directives are meant to be a function that executes when found in the DOM by the Angular compiler to extend the
        power of the HTML with new syntax.

        Directive in angular can be categorized into the following types: Component Directive, Structural Directive,
        and Attribute directive.

        notes above are from:
        https://www.simplilearn.com/what-are-directives-in-angular-article#:~:text=In%20Angular%2C%20Directives%20are%20defined,appearance%20of%20the%20DOM%20elements.

        A structural directive would be *ngFor 
        A attribute directive would be [ngClass] or [ngStyle]. The square brackets [] indicate that we're binding to some property (which is 
            the ngClass or ngStyle directive)
    
        Attribute directives 'sit' on top of the element; As in the attribute directive adds to the element like a topping on a meal.
            It affects/changes the attribute/property of the element.
        Structural directives change the structure of the dom as in it can create/remove from the dom. Structural directives are
            identified by the leading * in front of the directive. There can only exist one structural directive on an element. -->
    <!-- <appBasicHighlight>Element Selector style</appBasicHighlight> This example shows what the element selector style looks like when used -->
    <!-- the following is an example of using attribute selector style for directives -->
    <div appBasicHighlight>A test of the directives</div>
    <div
        appBetterHighlight
        [highlightBackgroundColor]="'blue'"
        [highlightColor]="'yellow'"
    >
        A better way of implementing directives
    </div>

    <button class="btn btn-primary" (click)="toggleStructuralDirectiveText()">Toggle text below</button>
    <div *appUnless="!displayStructuralDirective">Test text for the custom structural directive.</div>

    <div [ngSwitch]="displayStructuralDirective">
        <div *ngSwitchCase="true">display Structural Directive is set to true</div>
        <div *ngSwitchCase="false">display Structural Directive is set to false</div>
        <div *ngSwitchDefault>display Structural Directive is set to undefined</div>
    </div>

    <button class="btn btn-primary" (click)="testLoggingService()">Test Console Logging Service</button>

    <button class="btn btn-primary" (click)="addSampleDataEntry()">Add to test data </button>
    <div *ngFor="let testData of sampleDataServiceData">
        {{ testData.name }} - {{ testData.value }}
    </div>
</div>