<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form [formGroup]="exampleForm" (ngSubmit)="onSubmit()">
            <div formGroupName="userData">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" class="form-control" formControlName="username">
                    <span class="help-block" *ngIf="!exampleForm.get('userData.username').valid && exampleForm.get('userData.username').touched">
                        <span *ngIf="this.exampleForm.get('userData.username').errors['nameIsForbidden']">Username is invalid</span>
                        <span *ngIf="this.exampleForm.get('userData.username').errors['required']">This field is required</span>
                    </span>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" class="form-control" formControlName="email">
                </div>
                <span class="help-block" *ngIf="!exampleForm.get('userData.email').valid && exampleForm.get('userData.email').touched">Please enter a valid email</span>
            </div>
            <div class="radio" *ngFor="let gender of genders">
                <label>
                    <input type="radio" [value]="gender" formControlName="gender">
                    {{ gender }}
                </label>
            </div>
            <!-- The formArrayName synchronizes the template element to the form group object (which tells angular that the formArray will "live" within this element). -->
            <!-- Removing the formArrayName="hobbies" will not "sync" the template with the code behind (but the code still compiles without errors because 
                angular creates the form control elements). The input data, will not be added to the code behind because it is not synced. The syncing happens
                via the index assignment in the [formControlName]="i" line of code -->
            <div formArrayName="hobbies">
                <h3>Hobbies</h3>
                <button class="btn btn-primary" type="button" (click)="addHobby()">Add Hobby</button>
                <div class="form-group">
                    <!-- I deviated from the example here because the ngFor loop was on the form group rather than the input. We don't choose the name for the 
                    formControlName but rather it's the index. -->
                    <input *ngFor="let hobby of getHobbyControls(); let i = index" type="text" class="form-control" [formControlName]="i">
                </div>
            </div>
            <span class="help-block" *ngIf="!exampleForm.valid && exampleForm.touched">Please enter a valid user data</span>
            <button class="btn btn-primary" type="submit" [disabled]="!this.exampleForm.valid || !this.exampleForm.touched">Submit</button>
        </form>
    </div>
</div>