<div class="container">
    <h3> I'm in the AppComponent!</h3>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <ul class="nav nav-tabs">
                <!-- Here are three examples of using the routerLink directive (including property binding and passing an array to the property bound routerLink) -->
                <li class="nav-item">
                    <a class="nav-link" role="presentation" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Angular Playground</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  role="presentation" [routerLink]="'/assignment4'" routerLinkActive="active">Assignment 4</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="presentation" [routerLink]="['/assignment5']" routerLinkActive="active">Assignment 5</a>
                </li>
            </ul>
        </div>
    </div>
    <router-outlet></router-outlet>

    <!-- <div app-server></div> 'this uses the attribute/directive way' --> 
    <!--<div class="app-server"></div> 'this uses the class way'-->
    <!-- Outputting data -->
    <!-- String interpolation {{ data }} -->
    <!-- Property Binding {{ [property]="data" }} -->

    <!-- Reacting to user events -->
    <!-- Event Binding (event)="expression") 
        Event binding let's you react to any html events
        You could, but should never, put code within the "" to do the logic there.
        You can use the $event is a reserved variable name when using event binding. 
        The $event variable passes in whatever value the event sends out. -->

    <!-- Two-Way-Binding where we react and output data. To enable Two-Way-Binding,
        The FormsModule must be imported from @angular/forms. Two-Way-Binding let's you bind/act/edit
        In both directions -->
    <!-- [(ngModel)]="data" -->


    <!-- Structural directives start with * -->

    <!-- Here's an example of using the router to nagivage via DI -->
    <hr />
    <button class="btn btn-primary" (click)="onGoToAngularPlayground()">Go To Angular Playground</button>
    <button class="btn btn-primary" (click)="goToAssignment4RelativeExample()">Go To Assignment 4 Relative</button>
</div>
