<div class="container">
  <h3> I'm in the AppComponent!</h3>
  <hr>
  <app-warning-banner></app-warning-banner>
  <app-success-banner></app-success-banner>
  <app-server></app-server>
  <!-- <div app-server></div> 'this uses the attribute way' --> 
  <!--<div class="app-server"></div> 'this uses the class way'-->
  <!-- Outputting data -->
  <!-- String interpolation {{ data }} -->
  <!-- Property Binding {{ [property]="data" }} -->

  <!-- Reacting to user events -->
  <!-- Event Binding (event)="expression") -->

  <!-- Two-Way-Binding where we react and output data -->
  <!-- [(ngModel)]="data" -->
</div>
