<app-warning-banner></app-warning-banner>
<app-success-banner></app-success-banner>
<hr />
Passed in parameter is: {{ parameterPassedInViaPath.id }} - {{ parameterPassedInViaPath.name }}
<br />
Reloaded component parameters example: {{ parametersChangedAfterReloadingComponent.id }} - {{ parametersChangedAfterReloadingComponent.name }}
<hr />
<app-server>
    <p #contentChildExample>Testing NG Content Element</p>
</app-server>
<button class="btn btn-primary" (click)="exampleOfNotReloadingComponentWithParameters()">Reload Page with New Parameters</button>