<!-- A pipe's meant to transform the output so a logical place to use them is the template -->
Example String: {{ exampleString }}
<br>
Example String Caps: {{ exampleString | uppercase }}
<br>
Example Long String with Custom Pipe: {{ reallyLongString | shorten:15 }}
<hr>
Example Date: {{ exampleDate }}
<br>
Example Date Transformed: {{ exampleDate | date }}
<br>
<!-- More parameters can be added by supplying additional colons after the first parameter -->
Example Date Transformed with parameter: {{ exampleDate | date:'fullDate' }}
<br>
<!-- Order Matters; Setting the uppercase first makes the uppercase attempt to uppercase a date type rather than a string .-->
Example Date Transformed with multiple pipes: {{ exampleDate | date:'fullDate' | uppercase }}
<hr>
Example Status with transformation:
<br>
<div *ngFor="let status of exampleStatuses">
    {{ status | uppercase }}
</div>
<hr>
Example of custom ng for pipe:
<br>
<input type="text" [(ngModel)]="filteredStatus">
<div *ngFor="let object of exampleOfNgFormCustomPipe | filter:filteredStatus:'status'">
    {{ object.status }}
    <br>
</div>